.multipleCircle-loader {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #67cf22;
  border-radius: 100%;
  -webkit-animation: scaleLoading 2s infinite ease-in-out;
  animation: scaleLoading 2s infinite linear alternate;
}
.multipleCircle-loader::after {
  content: '';
  position: relative;
  left: -40px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #67cf22;
  -webkit-animation: scaleLoading 2s infinite ease-in-out;
  animation: scaleLoading 2s infinite linear alternate;
}
@-webkit-keyframes scaleLoading {
  0%{
    border-radius: 100%;
  }
  11% {
    border-radius: 90%;
  }
  21.5% {
    border-radius: 80%;
  }
  32% {
    border-radius: 70%;
  }
  42.5% {
    border-radius: 60%;
  }
  53% {
    border-radius: 50%;
  }
  63.5% {
    border-radius: 40%;
  }
  74% {
    border-radius: 30%;
  }
  84.5% {
    border-radius: 20%;
  }
  95% {
    border-radius: 10%;
  }
  100% {
    border-radius: 0%;
  }
}
@keyframes scaleLoading {
  0%{
    border-radius: 100%;
  }
  11% {
    border-radius: 90%;
  }
  21.5% {
    border-radius: 80%;
  }
  32% {
    border-radius: 70%;
  }
  42.5% {
    border-radius: 60%;
  }
  53% {
    border-radius: 50%;
  }
  63.5% {
    border-radius: 40%;
  }
  74% {
    border-radius: 30%;
  }
  84.5% {
    border-radius: 20%;
  }
  95% {
    border-radius: 10%;
  }
  100% {
    border-radius: 0%;
  }
}
